#root{
    background: rgba(166, 232, 210, 0.34);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font: 18px/22px 'Roboto', sans-serif;
    color: #012101;
    width: 400px;
    margin: 50px auto 0;
    border: 1px solid #012101;
    border-radius: 4px;
}
.input{
    padding: 5px;
    width: 200px;
    font: 18px/22px 'Roboto', sans-serif;
    color: #808080;
    border: none;
    border-radius: 4px;
    background: aliceblue;
    margin-right: 10px;
    outline-color: #0a360a;
}
.btn{
    width: 100px;
    background: rgba(10, 54, 10, 0.3);
    color: aliceblue;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    transition: 500ms;
    cursor: pointer;
}
.btn:hover{
    background: aliceblue;
    border:1px solid #0a360a;
    color: #0a360a;
}
#list{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.item{
    padding: 5px 20px;
    border-bottom: 1px solid #0a360a;
    display: flex;
    justify-content: space-evenly;
}
.item_title{
    width: 150px;
}
.newMessageContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.done{
    background: rgba(60, 110, 60, 0.56);
}